<% if current_user == nil %>
	
	<h1>Usted no esta logeado</h1>
	<br><br>
	Por favor haga click en 
	<%= link_to 'Register', new_user_path %> o 
	<%= link_to 'Login', new_user_session_path %>
	<br><br>
	
<% else %>

	<h1>New hire</h1>

	<%= render 'form' %>

	<%= link_to 'Back', hires_path %>
	
<% end %>